<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Registrar Observación</h2>

    <label>Selecciona una materia:</label>
    <select [(ngModel)]="materiaSeleccionada" (change)="obtenerEstudiantes()">
      <option *ngFor="let materia of materias" [value]="materia.nombreMateria">{{ materia.nombreMateria }}</option>
    </select>
    
    <label>Selecciona un estudiante:</label>
    <select [(ngModel)]="estudianteSeleccionado">
      <option *ngFor="let estudiante of estudiantes" [value]="estudiante.matriculaEstudiante">
        {{ estudiante.nombreCompleto }}
      </option>
    </select>

    
    
    <label>Descripción:</label>
    <textarea [(ngModel)]="descripcion" rows="3"></textarea>
    
    <label>Semestre:</label>
    <select [(ngModel)]="semestreSeleccionado">
      <option value="1">Semestre 1</option>
      <option value="2">Semestre 2</option>
    </select>
    
    <label>Año:</label>
    <input type="number" [(ngModel)]="anioSeleccionado" />
    
    <button (click)="registrarObservacion()">Registrar Observación</button>
    

    
</body>
</html>